In [1]:
import pandas as pd
poke_df=pd.read_csv('pokemon_data.csv',index_col='#')

# head()
The head() is used to get the top 5 rows in each column

In [2]:
print(poke_df.head())

                    Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
#
1              Bulbasaur  Grass  Poison  45      49       49       65
2                Ivysaur  Grass  Poison  60      62       63       80
3               Venusaur  Grass  Poison  80      82       83      100
3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
#
1       65     45           1      False
2       80     60           1      False
3      100     80           1      False
3      120     80           1      False
4       50     65           1      False

# columns()
Show columns of the dataframe

In [3]:
columns=poke_df.columns
print(columns)

Index(['Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

# shape()
used to show the number of columns and rows

In [4]:
shape=poke_df.shape
print(shape)

(800, 11)

# describe()
show some  overal information about the dataframe

In [5]:
print(poke_df.describe())

               HP      Attack     Defense     Sp. Atk     Sp. Def       Speed  \
count  800.000000  800.000000  800.000000  800.000000  800.000000  800.000000
mean    69.258750   79.001250   73.842500   72.820000   71.902500   68.277500
std     25.534669   32.457366   31.183501   32.722294   27.828916   29.060474
min      1.000000    5.000000    5.000000   10.000000   20.000000    5.000000
25%     50.000000   55.000000   50.000000   49.750000   50.000000   45.000000
50%     65.000000   75.000000   70.000000   65.000000   70.000000   65.000000
75%     80.000000  100.000000   90.000000   95.000000   90.000000   90.000000
max    255.000000  190.000000  230.000000  194.000000  230.000000  180.000000

       Generation
count   800.00000
mean      3.32375
std       1.66129
min       1.00000
25%       2.00000
50%       3.00000
75%       5.00000
max       6.00000

# describe individual column

In [6]:
attack=poke_df['Attack'].describe()
print(attack)

count    800.000000
mean      79.001250
std       32.457366
min        5.000000
25%       55.000000
50%       75.000000
75%      100.000000
max      190.000000
Name: Attack, dtype: float64

# info()
get overal view of the dataframe

In [7]:
print(poke_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 800 entries, 1 to 721
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        800 non-null    object
 1   Type 1      800 non-null    object
 2   Type 2      414 non-null    object
 3   HP          800 non-null    int64
 4   Attack      800 non-null    int64
 5   Defense     800 non-null    int64
 6   Sp. Atk     800 non-null    int64
 7   Sp. Def     800 non-null    int64
 8   Speed       800 non-null    int64
 9   Generation  800 non-null    int64
 10  Legendary   800 non-null    bool
dtypes: bool(1), int64(7), object(3)
memory usage: 69.5+ KB
None

in the above data frame we can see that the column Type 2 has missing values

# isnull()
show true when rows have null values and false when rows dont have null values

In [8]:
print(poke_df.isnull())

      Name  Type 1  Type 2     HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
#
1    False   False   False  False   False    False    False    False  False
2    False   False   False  False   False    False    False    False  False
3    False   False   False  False   False    False    False    False  False
3    False   False   False  False   False    False    False    False  False
4    False   False    True  False   False    False    False    False  False
..     ...     ...     ...    ...     ...      ...      ...      ...    ...
719  False   False   False  False   False    False    False    False  False
719  False   False   False  False   False    False    False    False  False
720  False   False   False  False   False    False    False    False  False
720  False   False   False  False   False    False    False    False  False
721  False   False   False  False   False    False    False    False  False

     Generation  Legendary
#
1         False      False
2         False      False
3         False      False
3         False      False
4         False      False
..          ...        ...
719       False      False
719       False      False
720       False      False
720       False      False
721       False      False

[800 rows x 11 columns]

# isnull().sum()
displays the total count of null values

In [9]:
count_null=poke_df.isnull().sum()
print(count_null)

Name            0
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [10]:
type_two=poke_df['Type 2'].head(30)
print(type_two)

#
1     Poison
2     Poison
3     Poison
3     Poison
4        NaN
5        NaN
6     Flying
6     Dragon
6     Flying
7        NaN
8        NaN
9        NaN
9        NaN
10       NaN
11       NaN
12    Flying
13    Poison
14    Poison
15    Poison
15    Poison
16    Flying
17    Flying
18    Flying
18    Flying
19       NaN
20       NaN
21    Flying
22    Flying
23       NaN
24       NaN
Name: Type 2, dtype: object

# dropna()
use to drop null values

# dropna(axis=1)
drops an entire column

# fillna()
used to fill missing values instead of dropping them

In [11]:
fill_type_two=poke_df['Type 2']
mode_two=fill_type_two.mode()[0]
fill_type_two.fillna(mode_two,inplace=True)
count_null=poke_df.isnull().sum()
print(count_null)

Name          0
Type 1        0
Type 2        0
HP            0
Attack        0
Defense       0
Sp. Atk       0
Sp. Def       0
Speed         0
Generation    0
Legendary     0
dtype: int64

in the above code, we have use mode to fill the empty row values

# drop_duplicates

In [12]:
duplicates=poke_df.drop_duplicates()
print(duplicates)

                      Name   Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
#
1                Bulbasaur    Grass  Poison  45      49       49       65
2                  Ivysaur    Grass  Poison  60      62       63       80
3                 Venusaur    Grass  Poison  80      82       83      100
3    VenusaurMega Venusaur    Grass  Poison  80     100      123      122
4               Charmander     Fire  Flying  39      52       43       60
..                     ...      ...     ...  ..     ...      ...      ...
719                Diancie     Rock   Fairy  50     100      150      100
719    DiancieMega Diancie     Rock   Fairy  50     160      110      160
720    HoopaHoopa Confined  Psychic   Ghost  80     110       60      150
720     HoopaHoopa Unbound  Psychic    Dark  80     160       60      170
721              Volcanion     Fire   Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
#
1         65     45           1      False
2         80     60           1      False
3        100     80           1      False
3        120     80           1      False
4         50     65           1      False
..       ...    ...         ...        ...
719      150     50           6       True
719      110    110           6       True
720      130     70           6       True
720      130     80           6       True
721       90     70           6       True

[800 rows x 11 columns]

In [13]:
count_null=poke_df.isnull().sum()
print(count_null)

Name          0
Type 1        0
Type 2        0
HP            0
Attack        0
Defense       0
Sp. Atk       0
Sp. Def       0
Speed         0
Generation    0
Legendary     0
dtype: int64

# value_counts()
show more details of a series

In [14]:
value=poke_df['Type 1'].value_counts()
print(value)

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

in the above series. we can see water has the most occurance while flying has the lowest occurance

# corr()
show relationship between series in the dataframe

In [15]:
#Positive numbers indicate a positive correlation — one goes up the other goes up — and
# negative numbers represent an inverse correlation — one goes up the other goes down.
# 1.0 indicates a perfect correlation.
# The corr() function in pandas calculates correlations between numeric columns, and 
# it cannot handle non-numeric data.
numeric_columns = poke_df.select_dtypes(include='number')
correlate = numeric_columns.corr()
print(correlate)

                  HP    Attack   Defense   Sp. Atk   Sp. Def     Speed  \
HP          1.000000  0.422386  0.239622  0.362380  0.378718  0.175952
Attack      0.422386  1.000000  0.438687  0.396362  0.263990  0.381240
Defense     0.239622  0.438687  1.000000  0.223549  0.510747  0.015227
Sp. Atk     0.362380  0.396362  0.223549  1.000000  0.506121  0.473018
Sp. Def     0.378718  0.263990  0.510747  0.506121  1.000000  0.259133
Speed       0.175952  0.381240  0.015227  0.473018  0.259133  1.000000
Generation  0.058683  0.051451  0.042419  0.036437  0.028486 -0.023121

            Generation
HP            0.058683
Attack        0.051451
Defense       0.042419
Sp. Atk       0.036437
Sp. Def       0.028486
Speed        -0.023121
Generation    1.000000

# DataFrame manipulation

# by row

# .loc[]
extract data from rows using the name

In [16]:
row_data = poke_df.loc[poke_df['Type 1']=='Grass']
print(row_data)

                      Name Type 1    Type 2   HP  Attack  Defense  Sp. Atk  \
#
1                Bulbasaur  Grass    Poison   45      49       49       65
2                  Ivysaur  Grass    Poison   60      62       63       80
3                 Venusaur  Grass    Poison   80      82       83      100
3    VenusaurMega Venusaur  Grass    Poison   80     100      123      122
43                  Oddish  Grass    Poison   45      50       55       75
..                     ...    ...       ...  ...     ...      ...      ...
650                Chespin  Grass    Flying   56      61       65       48
651              Quilladin  Grass    Flying   61      78       95       56
652             Chesnaught  Grass  Fighting   88     107      122       74
672                 Skiddo  Grass    Flying   66      65       48       62
673                 Gogoat  Grass    Flying  123     100       62       97

     Sp. Def  Speed  Generation  Legendary
#
1         65     45           1      False
2         80     60           1      False
3        100     80           1      False
3        120     80           1      False
43        65     30           1      False
..       ...    ...         ...        ...
650       45     38           6      False
651       58     57           6      False
652       75     64           6      False
672       57     52           6      False
673       81     68           6      False

[70 rows x 11 columns]

In [17]:
print(poke_df.index)

Index([  1,   2,   3,   3,   4,   5,   6,   6,   6,   7,
       ...
       714, 715, 716, 717, 718, 719, 719, 720, 720, 721],
      dtype='int64', name='#', length=800)

# .iloc[]
uses index to exract data

In [18]:
row_data = poke_df.iloc[1]
print(row_data)

Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 2, dtype: object

In [19]:
row_data = poke_df.iloc[1:5]
print(row_data)

                    Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
#
2                Ivysaur  Grass  Poison  60      62       63       80
3               Venusaur  Grass  Poison  80      82       83      100
3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4             Charmander   Fire  Flying  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
#
2       80     60           1      False
3      100     80           1      False
3      120     80           1      False
4       50     65           1      False

# conditions

In [20]:
condition = poke_df[poke_df['Type 2'] == "Poison"]
print(condition)

                      Name Type 1  Type 2   HP  Attack  Defense  Sp. Atk  \
#
1                Bulbasaur  Grass  Poison   45      49       49       65
2                  Ivysaur  Grass  Poison   60      62       63       80
3                 Venusaur  Grass  Poison   80      82       83      100
3    VenusaurMega Venusaur  Grass  Poison   80     100      123      122
13                  Weedle    Bug  Poison   40      35       30       20
14                  Kakuna    Bug  Poison   45      25       50       25
15                Beedrill    Bug  Poison   65      90       40       45
15   BeedrillMega Beedrill    Bug  Poison   65     150       40       15
43                  Oddish  Grass  Poison   45      50       55       75
44                   Gloom  Grass  Poison   60      65       70       85
45               Vileplume  Grass  Poison   75      80       85      110
48                 Venonat    Bug  Poison   60      55       50       40
49                Venomoth    Bug  Poison   70      65       60       90
69              Bellsprout  Grass  Poison   50      75       35       70
70              Weepinbell  Grass  Poison   65      90       50       85
71              Victreebel  Grass  Poison   80     105       65      100
72               Tentacool  Water  Poison   40      40       35       50
73              Tentacruel  Water  Poison   80      70       65       80
92                  Gastly  Ghost  Poison   30      35       30      100
93                 Haunter  Ghost  Poison   45      50       45      115
94                  Gengar  Ghost  Poison   60      65       60      130
94       GengarMega Gengar  Ghost  Poison   60      65       80      170
167               Spinarak    Bug  Poison   40      60       40       40
168                Ariados    Bug  Poison   70      90       70       60
211               Qwilfish  Water  Poison   65      95       75       55
269                 Dustox    Bug  Poison   60      50       70       50
315                Roselia  Grass  Poison   50      60       45      100
406                  Budew  Grass  Poison   40      30       35       50
407               Roserade  Grass  Poison   60      70       65      125
543               Venipede    Bug  Poison   30      45       59       30
544             Whirlipede    Bug  Poison   40      55       99       40
545              Scolipede    Bug  Poison   60     100       89       55
590                Foongus  Grass  Poison   69      55       45       55
591              Amoonguss  Grass  Poison  114      85       70       85

     Sp. Def  Speed  Generation  Legendary
#
1         65     45           1      False
2         80     60           1      False
3        100     80           1      False
3        120     80           1      False
13        20     50           1      False
14        25     35           1      False
15        80     75           1      False
15        80    145           1      False
43        65     30           1      False
44        75     40           1      False
45        90     50           1      False
48        55     45           1      False
49        75     90           1      False
69        30     40           1      False
70        45     55           1      False
71        70     70           1      False
72       100     70           1      False
73       120    100           1      False
92        35     80           1      False
93        55     95           1      False
94        75    110           1      False
94        95    130           1      False
167       40     30           2      False
168       60     40           2      False
211       55     85           2      False
269       90     65           3      False
315       80     65           3      False
406       70     55           4      False
407      105     90           4      False
543       39     57           5      False
544       79     47           5      False
545       69    112           5      False
590       55     15           5      False
591       80     30           5      False

In [21]:
condition = poke_df[poke_df['Type 2'] == "Poison"]
sum=condition.sum()
print(sum)

Name          BulbasaurIvysaurVenusaurVenusaurMega VenusaurW...
Type 1        GrassGrassGrassGrassBugBugBugBugGrassGrassGras...
Type 2        PoisonPoisonPoisonPoisonPoisonPoisonPoisonPois...
HP                                                         1998
Attack                                                     2298
Defense                                                    2025
Sp. Atk                                                    2517
Sp. Def                                                    2377
Speed                                                      2266
Generation                                                   67
Legendary                                                     0
dtype: object

In [22]:
condition = poke_df[poke_df['Type 2'] == "Poison"]
sum=condition.count()
print(sum)

Name          34
Type 1        34
Type 2        34
HP            34
Attack        34
Defense       34
Sp. Atk       34
Sp. Def       34
Speed         34
Generation    34
Legendary     34
dtype: int64

In [23]:
condition = poke_df[poke_df['Type 2'] == "Poison"]
sum=condition.shape
print(sum)

(34, 11)

# condition with or '|'

In [24]:
condition = poke_df[(poke_df['Type 2'] == "Poison") | (poke_df['Type 1'] == "Grass")]
print(condition)

                      Name Type 1    Type 2   HP  Attack  Defense  Sp. Atk  \
#
1                Bulbasaur  Grass    Poison   45      49       49       65
2                  Ivysaur  Grass    Poison   60      62       63       80
3                 Venusaur  Grass    Poison   80      82       83      100
3    VenusaurMega Venusaur  Grass    Poison   80     100      123      122
13                  Weedle    Bug    Poison   40      35       30       20
..                     ...    ...       ...  ...     ...      ...      ...
650                Chespin  Grass    Flying   56      61       65       48
651              Quilladin  Grass    Flying   61      78       95       56
652             Chesnaught  Grass  Fighting   88     107      122       74
672                 Skiddo  Grass    Flying   66      65       48       62
673                 Gogoat  Grass    Flying  123     100       62       97

     Sp. Def  Speed  Generation  Legendary
#
1         65     45           1      False
2         80     60           1      False
3        100     80           1      False
3        120     80           1      False
13        20     50           1      False
..       ...    ...         ...        ...
650       45     38           6      False
651       58     57           6      False
652       75     64           6      False
672       57     52           6      False
673       81     68           6      False

[89 rows x 11 columns]

# isin() subsitutes the ()

In [25]:
condition = poke_df[poke_df['Type 2'].isin(['Poison','Flying'])]
print(condition)

                      Name  Type 1  Type 2   HP  Attack  Defense  Sp. Atk  \
#
1                Bulbasaur   Grass  Poison   45      49       49       65
2                  Ivysaur   Grass  Poison   60      62       63       80
3                 Venusaur   Grass  Poison   80      82       83      100
3    VenusaurMega Venusaur   Grass  Poison   80     100      123      122
4               Charmander    Fire  Flying   39      52       43       60
..                     ...     ...     ...  ...     ...      ...      ...
706                 Goodra  Dragon  Flying   90     100       70      110
712               Bergmite     Ice  Flying   55      69       85       32
713                Avalugg     Ice  Flying   95     117      184       44
716                Xerneas   Fairy  Flying  126     131       95      131
717                Yveltal    Dark  Flying  126     131       95      131

     Sp. Def  Speed  Generation  Legendary
#
1         65     45           1      False
2         80     60           1      False
3        100     80           1      False
3        120     80           1      False
4         50     65           1      False
..       ...    ...         ...        ...
706      150     80           6      False
712       35     28           6      False
713       46     28           6      False
716       98     99           6       True
717       98     99           6       True

[517 rows x 11 columns]

# multiple conditional statement

In [26]:
print(poke_df.head())

                    Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
#
1              Bulbasaur  Grass  Poison  45      49       49       65
2                Ivysaur  Grass  Poison  60      62       63       80
3               Venusaur  Grass  Poison  80      82       83      100
3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4             Charmander   Fire  Flying  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
#
1       65     45           1      False
2       80     60           1      False
3      100     80           1      False
3      120     80           1      False
4       50     65           1      False

In [27]:
multiple=poke_df[
    ((poke_df['Type 1']=='Fire') | (poke_df['Type 1']=='Grass'))
    &(poke_df['Defense']>80)
    &(poke_df['Attack']>80)
]
print(multiple)
#to show the total number
print(multiple.shape)

                          Name Type 1    Type 2   HP  Attack  Defense  \
#
3                     Venusaur  Grass    Poison   80      82       83
3        VenusaurMega Venusaur  Grass    Poison   80     100      123
6    CharizardMega Charizard X   Fire    Dragon   78     130      111
103                  Exeggutor  Grass   Psychic   95      95       85
146                    Moltres   Fire    Flying   90     100       90
154                   Meganium  Grass    Flying   80      82      100
244                      Entei   Fire    Flying  115     115       85
250                      Ho-oh   Fire    Flying  106     130       90
323      CameruptMega Camerupt   Fire    Ground   70     120      100
324                    Torkoal   Fire    Flying   70      85      140
388                     Grotle  Grass    Flying   75      89       85
389                   Torterra  Grass    Ground   95     109      105
460    AbomasnowMega Abomasnow  Grass       Ice   90     132      105
465                  Tangrowth  Grass    Flying  100     100      125
470                    Leafeon  Grass    Flying   65     110      130
485                    Heatran   Fire     Steel   91      90      106
492          ShayminLand Forme  Grass    Flying  100     100      100
598                 Ferrothorn  Grass     Steel   74      94      131
652                 Chesnaught  Grass  Fighting   88     107      122
721                  Volcanion   Fire     Water   80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
#
3        100      100     80           1      False
3        122      120     80           1      False
6        130       85    100           1      False
103      125       65     55           1      False
146      125       85     90           1       True
154       83      100     80           2      False
244       90       75    100           2       True
250      110      154     90           2       True
323      145      105     20           3      False
324       85       70     20           3      False
388       55       65     36           4      False
389       75       85     56           4      False
460      132      105     30           4      False
465      110       50     50           4      False
470       60       65     95           4      False
485      130      106     77           4       True
492      100      100    100           4       True
598       54      116     20           5      False
652       74       75     64           6      False
721      130       90     70           6       True
(20, 11)

# Functions

In [28]:
#create a function to classify attack
def attack(x):
    if x>=80:
        return 'Good'
    else:
        return 'Bad'
#create a new column/series
poke_df['Attack Rating']=poke_df['Attack'].apply(attack)

#display the attack rating column
review=poke_df['Attack Rating']
print(review.head(30))

#
1      Bad
2      Bad
3     Good
3     Good
4      Bad
5      Bad
6     Good
6     Good
6     Good
7      Bad
8      Bad
9     Good
9     Good
10     Bad
11     Bad
12     Bad
13     Bad
14     Bad
15    Good
15    Good
16     Bad
17     Bad
18    Good
18    Good
19     Bad
20    Good
21     Bad
22    Good
23     Bad
24    Good
Name: Attack Rating, dtype: object

# rename()
used to rename columns and rows

In [29]:
#use for loop to change it dynamically
#use lowercase
poke_df.columns=[col.lower()for col in poke_df]
poke_df.columns

Index(['name', 'type 1', 'type 2', 'hp', 'attack', 'defense', 'sp. atk',
       'sp. def', 'speed', 'generation', 'legendary', 'attack rating'],
      dtype='object')

In [30]:
columns=poke_df.columns
print(columns)

Index(['name', 'type 1', 'type 2', 'hp', 'attack', 'defense', 'sp. atk',
       'sp. def', 'speed', 'generation', 'legendary', 'attack rating'],
      dtype='object')